/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$red-palette, 600);
$my-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$my-warn: mat.define-palette(mat.$green-palette, A200, A100, A400);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-themes($my-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// .custom-toast-popup {
//   background-color: green !important; /* Green background */
//   color: white !important;          /* White text */
//   font-size: 16px;                  /* Adjust font size */
//   border-radius: 10px;              /* Rounded corners */
//   padding: 10px 20px;               /* Padding */
//   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
// }

.custom-progress-bar {
  background-color: white !important; /* White progress bar */
  height: 5px !important;            /* Adjust height */
  border-radius: 10px;               /* Rounded progress bar */
}

.custom-icon-color .swal2-icon{
  color: #fff !important;
}
.toast-success {
  background-color: #124c09 !important; /* Green background */
  color: white !important;           /* White text */
  font-size: 16px;                   /* Adjust font size */
  border-radius: 10px;               /* Rounded corners */
  padding: 10px 20px;                /* Padding */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.toast-error {
  background-color: #7f150a !important;  /* Red background */
  color: white !important;           /* White text */
  font-size: 16px;                   /* Adjust font size */
  border-radius: 10px;               /* Rounded corners */
  padding: 10px 20px;                /* Padding */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

/* Info Toast */
.toast-info {
  background-color: #3598b7 !important; /* Blue background */
  color: #fff !important;           /* White text */
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
