.main_body {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 20px;
}
table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

  mat-icon {
    font-size: 20px; /* Adjust size */
    margin-right: 10px; /* Space between icons */
    cursor: pointer; /* Pointer cursor on hover */
  }
  
  mat-icon:hover {
    opacity: 0.8; /* Slight opacity on hover */
  }